<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/images/favicon.png">
    <title>软件工程带作业</title>
    <!-- Bootstrap Core CSS -->
    <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="static/css/pages/dashboard.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="static/css/colors/default-dark.css" id="theme" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
      href="static/main.css">

   	<link rel="stylesheet" type="text/css" href="static/styles/cube.css">
	<link rel="stylesheet" type="text/css" href="static/styles/doodle2.css">
	<link rel="stylesheet" type="text/css" href="static/styles/certificate2.css">
	<!-- compiled & minified cube code -->
	<script charset="utf-8" src="static/scripts/tween.r12.js"></script>
	<script charset="utf-8" src="static/scripts/three.js"></script>
	<script charset="utf-8" src="static/scripts/cuber.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Pro</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="index.html" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">魔方页</span></a></li>
                    </ul>
                    <!-- <div class="text-center m-t-30">
                        <a href="#" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>
                    </div> -->
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-9 align-self-center">
                        <h3 class="text-themecolor">魔方解法</h3>
                    </div>
                    <div class="col-md-1 align-self-center">
                        <a href="#" class="btn waves-effect waves-light btn-info pull-right hidden-sm-down" id="newSolve"> 带师教我解</a>
			<div id="button_container" class="container" style="display:none">
				<button disabled id="scramble" type="button">打乱</button>
				<button disabled id="solve" type="button">开始求解</button>
			</div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Sales overview chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title m-b-5"><span class="lstick"></span>魔方</h4>
                                    </div>
								
                                    <div id="cube_div" class="container" style="padding: 60px">
										<section class="cube_container">
											<div id="cube">
												<figure id="front" class="front">
												</figure>
												<figure id="back" class="back">
												</figure>
												<figure id="right" class="right">
												</figure>
												<figure id="left" class="left">
												</figure>
												<figure id="top" class="top">
												</figure>
												<figure id="bottom" class="bottom">
												</figure>
											</div>
										</section>
									</div>

			
                                </div>
                                <!-- <div id="sales-overview2" class="p-relative" style="height:360px;"></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- result charts-->
                    <!-- ============================================================== -->


                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span>调色盘</h4>
									<div id="solution_container" class="container">
										<button disabled id="first_state" type="button">&#060;&#060;</button>
										<button disabled id="prev_state" type="button">&#060;</button>
										<button disabled id="next_state" type="button">&#062;</button>
										<button disabled id="last_state" type="button">&#062;&#062;</button>
										<h4 id="solution_text">铁憨憨你照做便是了：</h4>
									</div>
								</div>
                                <div class="col-md-9 align-self-center">
			                         <button id="redButton" class="btn hidden-sm-down text-white" style="background-color: red" onclick="colorSelect(this)"> 红色</button>
			                         <button id="yellowButton" class="btn hidden-sm-down text-black" style="background-color: yellow" onclick="colorSelect(this)"> 黄色</button>
			                         <button id="orangeButton" class="btn hidden-sm-down text-white" style="background-color: orange" onclick="colorSelect(this)"> 橙色</button>
			                         <button id="greenButton" class="btn hidden-sm-down text-white" style="background-color: green" onclick="colorSelect(this)"> 绿色</button>
			                         <button id="whiteButton" type="button" class="btn btn-default" onclick="colorSelect(this)"> 白色</button>
			                         <button id="blueButton" class="btn hidden-sm-down text-white" style="background-color: blue" onclick="colorSelect(this)"> 蓝色</button>
			                         <button id="cancelButton" class="btn hidden-sm-down text-white" style="background-color: grey" onclick="colorSelect(this)"> 取消选色</button>
			                    </div>
			                    <div class="col-md-2 align-self-center">
			                    	<h3><span id="colorNow" class="label label-default" style="background-color: pink">未设定</span></h3>
			                    </div>

			                    <div class="col-md-12 align-self-center" style="height: 80px"></div>
			                    

								<div class="col-md-12 align-self-center">
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_0" onclick="colorSet(this)"></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_1" onclick="colorSet(this)"></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_2" onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_3" onclick="colorSet(this)"></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_4" onclick=""></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_5" onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_6" onclick="colorSet(this)"></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_7" onclick="colorSet(this)"></button>
			                         <button style="background-color: white;width: 40px;height: 40px" id="stickers_8" onclick="colorSet(this)"></button>
			                    </div>

			                   	<div class="col-md-12 align-self-center" style="height: 20px"></div>

			                   	<div class="col-md-12 align-self-center">
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_45" onclick="colorSet(this)"></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_46" onclick="colorSet(this)"></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_47" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_27" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_28" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_29" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_44" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_43" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_42" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_18" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_19" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_20" onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_48" onclick="colorSet(this)"></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_49" onclick=""></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_50" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_30" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_31" onclick=""></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_32" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_41" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_40" onclick=""></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_39" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_21" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_22" onclick=""></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_23" onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_51" onclick="colorSet(this)"></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_52" onclick="colorSet(this)"></button>
			                         <button style="background-color: green;width: 40px;height: 40px" id="stickers_53" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_33" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_34" onclick="colorSet(this)"></button>
			                         <button style="background-color: red;width: 40px;height: 40px" id="stickers_35" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_38" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_37" onclick="colorSet(this)"></button>
			                         <button style="background-color: blue;width: 40px;height: 40px" id="stickers_36" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_24" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_25" onclick="colorSet(this)"></button>
			                         <button style="background-color: orange;width: 40px;height: 40px" id="stickers_26" onclick="colorSet(this)"></button>
			                    </div>
			                    </div>
								
								<div class="col-md-12 align-self-center" style="height: 20px"></div>
			                    
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: yellow;width: 40px;height: 40px"  id="stickers_9" onclick="colorSet(this)"></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_10"  onclick="colorSet(this)"></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_11"  onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_12"  onclick="colorSet(this)"></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_13"  onclick=""></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_14"  onclick="colorSet(this)"></button>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_15"  onclick="colorSet(this)"></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_16"  onclick="colorSet(this)"></button>
			                         <button style="background-color: yellow;width: 40px;height: 40px" id="stickers_17"  onclick="colorSet(this)"></button>
			                    </div>
			                   	
			                    <!-- <div class="col-md-9 align-self-center"></div>

			                    <div class="col-md-1 align-self-center" style="background-color: red;height: 20px">
			                    </div>
			                    <div class="col-md-1 align-self-center" style="background-color: red;height: 20px">
			                    </div>
			                    <div class="col-md-1 align-self-center" style="background-color: red;height: 20px">
			                    </div>
			                    <div class="col-md-9 align-self-center"></div> -->


			                    <!-- <div class="col-md-12 align-self-center">
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                    </div>
			                    <div class="col-md-12 align-self-center">
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                        <div id="square1_1" style="width: 20px;height: 20px;background-color: red"></div>
			                    </div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2019 魔方带师 by HYC HHM and JZY</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="static/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="static/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="static/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="static/assets/plugins/d3/d3.min.js"></script>
    <script src="static/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="static/js/dashboard.js"></script>



    <script charset="utf-8" src="static/scripts/iecss3d.js"></script>
	<script charset="utf-8" src="static/scripts/ierenderer.js"></script>
	<script charset="utf-8" src="static/scripts/deviceMotion.js"></script>
	<script charset="utf-8" src="static/scripts/locked.js"></script>
	<!-- Certificate js -->
	<script charset="utf-8" src="static/scripts/textBox.js"></script>
	<script charset="utf-8" src="static/scripts/ResizeableTextBox.3.js"></script>
	<script charset="utf-8" src="static/scripts/divBox.js"></script>
	<script charset="utf-8" src="static/scripts/frames.js"></script>
	<script charset="utf-8" src="static/scripts/certificate.js"></script>

	<script src="static/googleapiscomajax.js"></script>
	<!--script src="/static/jquery.min.js"></script-->
	<script src="static/mainVer3.js"></script>
	
	
</body>

</html>
